 {% unless template == 'index' or template == 'cart' or template == 'list-collections' %}

<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

  <a href="/" title="Home">Home</a>

  {% if template contains 'page' %}

    <span class="arrow" aria-hidden="true">&rsaquo;</span>

    <span>{{ page.title }}</span>

  {% elsif template contains 'product' %}

    {% if collection.url %}

      <span class="arrow" aria-hidden="true">&rsaquo;</span>

      {{ collection.title | link_to: collection.url }}

    {% endif %}

    <span class="arrow" aria-hidden="true">&rsaquo;</span>

    <span>{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}

    <span class="arrow" aria-hidden="true">&rsaquo;</span>

    {% if current_tags %}

      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}

      {{ collection.title | link_to: url }}

      <span class="arrow" aria-hidden="true">&rsaquo;</span>

      <span>{{ current_tags | join: " + " }}</span>

    {% else %}

      <span>{{ collection.title }}</span>

    {% endif %}

  {% elsif template == 'blog' %}

    <span class="arrow" aria-hidden="true">&rsaquo;</span>

    {% if current_tags %}

      {{ blog.title | link_to: blog.url }}

     <span class="arrow" aria-hidden="true">&rsaquo;</span>

      <span>{{ current_tags | join: " + " }}</span>

    {% else %}

    <span>{{ blog.title }}</span>

    {% endif %}

  {% elsif template == 'article' %}

    <span class="arrow" aria-hidden="true">&rsaquo;</span>

    {{ blog.title | link_to: blog.url }}

    <span class="arrow" aria-hidden="true">&rsaquo;</span>

    <span>{{ article.title }}</span>

  {% else %}

   <span class="arrow" aria-hidden="true">&rsaquo;</span>

   <span>{{ page_title }}</span>

  {% endif %}
  <span class="arrow" aria-hidden="true">&rsaquo;</span>
  <span style="    font-weight: normal;" >Detalle</span>
</nav>

{% endunless %} 

<style>
  .breadcrumb {
    margin-bottom: 48px;
  }
  
  .breadcrumb, .breadcrumb a {
    font-size: 16px;
    color: #201616;
    text-decoration: none;
    font-weight: 500;
    font-family: Karla,sans-serif;
  }

  .breadcrumb .arrow {
    margin: 0 11px;
  }
  
</style>