
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-right: 20vw;
    padding-left: 20vw;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-right: 20vw;
    padding-left: 20vw;
    }
  }

  .product-about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-about__text ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .product-about__text ul li span {
    font-weight: 800;
  }

   .product-about__text ul li{
     font-size: 16px;
     line-height: 18px;
     font-family: Karla,sans-serif;
     margin-bottom: 8px;
   }

   .product-about__text h2 {
     font-size: 24px;
     margin-bottom: 16px;
     font-family: Karla,sans-serif;
     font-weight: 600;
   }

   .product-about__text ul {
     padding: 24px;
     border-radius: 8px;
   }
{%- endstyle -%}
{% assign handle = page.handle %}
{% assign product = all_products[handle] %}

<div class="page-width product-about"  >
  <div class="product-about__grid" >
      <div class="product-about__text" >
        <h2>
			¿Cómo tomarla?
		</h2>
		<p>
			2 gomas por día
		</p>
		<div class="product-about__time">
			<svg width="44" height="48" viewBox="0 0 44 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M39.2513 40.1579C34.6839 40.1018 30.2456 38.6089 26.5459 35.8843C19.2426 30.5267 16.5378 20.754 20.021 12.3087C21.7831 8.02273 24.8066 4.39631 28.6761 1.92761C28.8607 1.81424 28.9891 1.62639 29.0292 1.41093C29.1072 0.992184 28.8367 0.588425 28.4251 0.509039C24.7079 -0.283344 20.8572 -0.149055 17.2021 0.900778L17.1963 0.894843C13.5503 1.94037 10.2054 3.86316 7.44415 6.50058C-2.05719 15.5759 -2.52569 30.7662 6.39786 40.4293C15.3214 50.0922 30.2577 50.5686 39.7592 41.4933C39.9102 41.3498 39.9973 41.1498 39.9999 40.9397C40.0055 40.5135 39.6703 40.1635 39.2513 40.1579ZM34.4656 43.5648C31.3873 45.3297 27.9374 46.3175 24.4059 46.445C12.2201 46.8848 1.9908 37.1947 1.55848 24.8017C1.12617 12.4086 10.6541 2.00522 22.8399 1.56555C23.9918 1.52474 25.1452 1.57638 26.2891 1.71987C22.9025 4.29363 20.2613 7.74866 18.6437 11.7211C14.8819 20.8203 17.7843 31.3559 25.6471 37.1427C29.0718 39.6722 33.1045 41.2144 37.3195 41.6061C36.4203 42.3342 35.4661 42.9892 34.4656 43.5648Z" fill="#201616"/>
				<path d="M31.6956 21.9718L31.6372 22.0133C31.071 22.4059 30.8206 23.1267 31.0186 23.7939L31.5672 25.7586L30.5459 27.5036C30.5447 27.5055 30.5435 27.5075 30.5425 27.5094C30.1035 28.266 30.3507 29.2412 31.0945 29.6878C31.3346 29.8328 31.6089 29.9088 31.8882 29.9075L33.8433 29.9787L35.1623 31.51C35.1668 31.5152 35.1714 31.5203 35.176 31.5255C35.7598 32.173 36.7492 32.2166 37.3859 31.6228C37.4851 31.5353 37.5734 31.4357 37.6485 31.326C37.7229 31.2174 37.7836 31.0997 37.8295 30.9758L38.5123 29.0943L40.3273 28.2871C40.4635 28.2268 40.5906 28.1473 40.7048 28.0509C41.3745 27.4856 41.4667 26.4753 40.911 25.7942C40.8163 25.6802 40.7061 25.5804 40.5841 25.4974L39.0959 24.3103L38.9267 22.2982C38.9043 22.0218 38.8117 21.7562 38.6576 21.5272C38.168 20.7995 37.191 20.6131 36.4755 21.1111L34.8238 22.2448L32.8628 21.764C32.462 21.6754 32.043 21.7501 31.6956 21.9718ZM35.4016 23.7168L37.3275 22.3991L37.345 22.3754H37.3859H37.4209C37.4254 22.3868 37.4254 22.3996 37.4209 22.411L37.6369 24.7852C37.6561 24.9985 37.7619 25.1943 37.9287 25.3253L39.6795 26.7142L39.6737 26.7498C39.6792 26.763 39.6792 26.778 39.6737 26.7913L37.5318 27.7291C37.3392 27.813 37.1892 27.9741 37.1174 28.1743L36.3354 30.3526V30.3942H36.3004H36.2712L34.7363 28.6135C34.5969 28.4528 34.3982 28.3582 34.1877 28.3524L31.8999 28.2693H31.8357C31.8301 28.2559 31.8301 28.2411 31.8357 28.2277L33.0029 26.2572C33.142 26.0641 33.1852 25.8163 33.1196 25.5865L32.4893 23.3607V23.3072H32.536L34.7596 23.8177C34.9777 23.8827 35.2129 23.8457 35.4016 23.7168Z" fill="#201616"/>
				<path d="M35.5948 6.69892L36.4935 7.55362L36.5344 8.74071V8.77633C36.5304 8.82173 36.5304 8.86744 36.5344 8.91284C36.5407 8.96878 36.5504 9.02428 36.5636 9.07903V9.13245C36.5958 9.23855 36.6409 9.34034 36.6978 9.43516C37.0535 10.055 37.8302 10.2735 38.4487 9.9278L38.5129 9.89219L39.6101 9.21555L40.7773 9.55387C40.8742 9.5834 40.974 9.60136 41.075 9.60729C41.1777 9.61976 41.2816 9.61976 41.3843 9.60729H41.431C42.1349 9.46662 42.5959 8.77529 42.464 8.05814L42.1897 6.82356L42.8492 5.82641L42.89 5.77299L42.9367 5.68989C42.9738 5.62149 43.005 5.54996 43.0301 5.47622C43.0722 5.36062 43.0985 5.23954 43.1077 5.11653C43.1627 4.38765 42.6262 3.75152 41.9095 3.69558L40.6781 3.58281L39.9135 2.59159L39.896 2.5441C39.8486 2.48208 39.7958 2.4245 39.7385 2.37197L39.6684 2.30668C39.5787 2.23694 39.4806 2.17907 39.3766 2.13456C39.3766 2.13456 39.3766 2.13456 39.3765 2.13456C38.7125 1.84609 37.9443 2.15978 37.6608 2.83494L37.1705 4.02203L36.0792 4.42564C35.9661 4.46036 35.8583 4.51022 35.7582 4.57403C35.6515 4.64243 35.5551 4.72627 35.4721 4.82287C34.9965 5.37531 35.0514 6.21518 35.5948 6.69892ZM38.0109 5.39312C38.2111 5.32011 38.3721 5.1652 38.4545 4.96577L38.9331 3.8321L39.6801 4.79957C39.8135 4.96399 40.0078 5.06504 40.217 5.07854L41.4251 5.19131L40.7481 6.21815C40.6334 6.3925 40.5933 6.60677 40.6372 6.81169L40.9057 7.99878L39.7385 7.66046C39.5196 7.59621 39.2838 7.63553 39.0965 7.7673L38.0751 8.36085L38.0343 7.13814C38.0271 6.92298 37.9319 6.72073 37.7717 6.58021L36.8787 5.81454L38.0109 5.39312Z" fill="#201616"/>
			</svg>

			<p>
				Antes de dormir
			</p>
		</div>
        <h2>Cada goma contiene</h2>
        <div>
          <ul style="background-color:{{ product.metafields.custom.color_primario }};">
            <li>Calorias <span>{{ product.metafields.custom.calorias }}</span></li>
            <li>Total Carbohidratos <span>{{ product.metafields.custom.total_carbohidratos }}</span></li>
            <li>Total Azúcares <span>{{ product.metafields.custom.total_az_cares }}</span></li>
            <li>Vitamina D <span>{{ product.metafields.custom.vitamina_d }}</span></li>
            <li>Magnesio <span>{{ product.metafields.custom.magnesio }}</span></li>
            <li>Extracto Bálsamo de Limón <span>{{ product.metafields.custom.extracto_b_lsamo_de_lim_n }}</span></li>
            <li>Melatonina <span>{{ product.metafields.custom.melatonina }}</li>
            <li>Sodio <span>{{ product.metafields.custom.sodio }}</span></li>
          </ul>
        </div>
      </div>
      <div class="product-about__img" >
        <img src="http://localhost/Encore/wp-content/uploads/2023/02/ivana-cajina-dnL6ZIpht2s-unsplash-1.png" >
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Sobre el producto",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Producto"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Sobre el producto"
    }
  ]
}
{% endschema %}
