
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-right: 20vw;
    padding-left: 20vw;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-right: 20vw;
    padding-left: 20vw;
    }
  }
{%- endstyle -%}
{% assign handle = page.handle %}
{% assign product = all_products[handle] %}

<div class="product-about" style="background-color:{{ product.metafields.custom.color_primario }};">
  <div class="product-about__grid" >
      <div class="product-about__text" >
        <div>
          <ul>
            <li>Calorias {{ product.metafields.custom.calorias }}</li>
            <li>Total Carbohidratos {{ product.metafields.custom.color_primario }}</li>
            <li>Total Azúcares {{ product.metafields.custom.total_az_cares }}</li>
            <li>Vitamina D {{ product.metafields.custom.vitamina_d }}</li>
            <li>Magnesio {{ product.metafields.custom.magnesio }}</li>
            <li>Extracto Bálsamo de Limón {{ product.metafields.custom.extracto_b_lsamo_de_lim_n }}</li>
            <li>Melatonina {{ product.metafields.custom.melatonina }}</li>
            <li>Sodio {{ product.metafields.custom.sodio }}</li>
          </ul>
        </div>
      </div>
      <div class="product-about__img" >
    
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Sobre el producto",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Producto"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Sobre el producto"
    }
  ]
}
{% endschema %}
