
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-right: 20vw;
    padding-left: 20vw;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-right: 20vw;
    padding-left: 20vw;
    }
  }

  .product-about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-about__text ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .product-about__text ul li span {
    font-weight: 800;
  }

   .product-about__text ul li{
     font-size: 16px;
     line-height: 18px;
     font-family: Karla,sans-serif;
     margin-bottom: 8px;
   }

   .product-about__text ul {
     padding: 24px;
     border-radius: 8px;
   }
{%- endstyle -%}
{% assign handle = page.handle %}
{% assign product = all_products[handle] %}

<div class="page-width product-about"  >
  <div class="product-about__grid" >
      <div class="product-about__text" >
        <div>
          <ul style="background-color:{{ product.metafields.custom.color_primario }};">
            <li>Calorias <span>{{ product.metafields.custom.calorias }}</span></li>
            <li>Total Carbohidratos <span>{{ product.metafields.custom.total_carbohidratos }}</span></li>
            <li>Total Azúcares <span>{{ product.metafields.custom.total_az_cares }}</span></li>
            <li>Vitamina D <span>{{ product.metafields.custom.vitamina_d }}</span></li>
            <li>Magnesio <span>{{ product.metafields.custom.magnesio }}</span></li>
            <li>Extracto Bálsamo de Limón <span>{{ product.metafields.custom.extracto_b_lsamo_de_lim_n }}</span></li>
            <li>Melatonina <span>{{ product.metafields.custom.melatonina }}</li>
            <li>Sodio <span>{{ product.metafields.custom.sodio }}</span></li>
          </ul>
        </div>
      </div>
      <div class="product-about__img" >
    
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Sobre el producto",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Producto"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Sobre el producto"
    }
  ]
}
{% endschema %}
