
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-right: 20vw;
    padding-left: 20vw;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-right: 20vw;
    padding-left: 20vw;
    }
  }

    /* FAQ COLLAPSE/EXPAND STYLES */
  * {
    box-sizing: border-box;
  }
  .faqanswer {
  	display: none;
  }

  .content {
    
    transition: max-height 0.2s ease-out;
  }
  
  .faqs-item__content .content p {
      font-weight: 300;
      color: #201616;
      margin-bottom: 0;
      margin-top: 24px;
      font-size: 20px;
      font-family: Karla,sans-serif;
  }
  
  .togglefaq {
  	text-decoration: none;
  }
  
  .icon-plus {
  	color: #5ec4cd;
  	margin-right: 20px;
  	font-size: 20px;
  	float:left;
  }
  
  .icon-minus {
  	color: #5ec4cd;
  	margin-right: 20px;
  	font-size: 20px;
  	float:left;
  }
  
  p {
    margin: 0;
    padding-bottom: 20px;
  }

  .collapsible {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    background: none;
    outline: none;
    font-size: 15px;
  }
{%- endstyle -%}
{% assign handle = page.handle %}
{% assign product = all_products[handle] %}



<section style="background-color: {{ section.settings.primary_color }}" class="faqs-section" >
  <div class="page-width" >
    <div class="faqs-list" >
      {%- for block in section.blocks -%}
        <div class="faqs-item__content" >
          <a href="#" class="togglefaq faqs-list__item collapsible"> {%- if block.settings.title != blank -%}
              <h3 class="faqs-item__title" >{{ block.settings.title | escape }}</h3>{%- endif -%}
              <svg
                class="icon-faqs"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                version="1.1"
                id="svg4"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"><defs
                id="defs8" /><circle
                cx="16.109589"
                cy="15.96347"
                r="16"
                fill="{{ section.settings.secondary_color }}"
                id="circle2" /><g
                style="fill:none"
                id="g246"
                transform="translate(3.9307317,4.0316531)"><path
                 d="M 6.41403,9 H 17.586 c 0.1978,4e-5 0.3911,0.05871 0.5555,0.1686 0.1644,0.10988 0.2925,0.26605 0.3682,0.44874 0.0757,0.1827 0.0955,0.38376 0.0569,0.57766 -0.0386,0.194 -0.1338,0.3721 -0.2736,0.512 l -5.586,5.586 c -0.1875,0.1875 -0.4418,0.2928 -0.707,0.2928 -0.2651,0 -0.5194,-0.1053 -0.707,-0.2928 L 5.70703,10.707 C 5.56722,10.5671 5.47202,10.389 5.43345,10.195 5.39488,10.0011 5.41468,9.80004 5.49035,9.61734 5.56602,9.43465 5.69416,9.27848 5.85857,9.1686 6.02298,9.05871 6.21628,9.00004 6.41403,9 Z"
                 fill="{{ section.settings.primary_color }}"
                 id="path237" /></g>
              </svg>
          </a>
          
          <div class="content faqanswer">
            <div>{{ block.settings.text }}</div>
          </div>
        </div>
        
      {%- endfor -%}    
    </div>
  </div>
</section>


<script>
  //faq toggle stuff 
  $('.togglefaq').click(function(e) {
  e.preventDefault();
  var notthis = $('.active').not(this);
  notthis.find('.icon-minus').addClass('icon-plus').removeClass('icon-minus');
  notthis.toggleClass('active').next('.faqanswer').slideToggle(300);
   $(this).toggleClass('active').next().slideToggle("fast");
  $(this).children('i').toggleClass('icon-plus icon-minus');
  });
</script>

{% schema %}
{
  "name": "Faqs product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Producto"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Color primario"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Color secundario"
    }

  ],
  

   "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faqs product",
         "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
    
  ]
}
{% endschema %}
